{{ define "main" }}

 <h1>404</h1>
<style>
body { background-color: #fcfcfc; color: #333333; margin: 0; padding:0; }
h1 { font-size: 1.5em; font-weight: normal; background-color: #9999cc; min-height:2em; line-height:2em; border-bottom: 1px inset black; margin: 0; }
h1, p { padding-left: 10px; }
code.url { background-color: #eeeeee; font-family:monospace; padding:0 2px;}
</style>
   <p>要求されたページ(
    <code class="url"><script language="JavaScript"><!--
document.write(location.pathname);
// --></script>
       </code>)が存在しないか削除されました</p>
   <a href="/">日記トップ</a>

{{ end }}
